<div class="main" ng-controller="gameController as gc">
    <div class="elements" ng-style="{ 'width': (gc.getWidth() + 'px'), 'height': (gc.getWidth() + 'px') }">    
        <!-- Visible elements -->
    	<div ng-repeat="e in gc.grid">
            <elem class="element" size="{{ gc.elementSize }}" ng-style="{ 'transform': ('rotate(' + e.rotation * 90 + 'deg)'), 'width': (gc.elementSize + 'px'), 'height': (gc.elementSize + 'px'), 'background-color': gc.getColor(e) }"/>
        </div>

        <!-- Control grid -->
	    <div class="selectedElements" ng-style="{ 'left': (gc.elementSize / 2 + 'px'), 'top': (gc.elementSize / 2 + 'px'), 'width': (gc.getWidth() + 'px'), 'height': (gc.getWidth() + 'px') }">    
	        <div ng-repeat="e in gc.grid">
	            <elem class="selectedElement" ng-click="gc.rotate()" ng-mouseover="gc.toggleSelect($index)" ng-mouseout="gc.toggleSelect($index)" ng-style="{ 'width': (gc.elementSize + 'px'), 'height': (gc.elementSize + 'px')}" />
	        </div>
	    </div>
    </div>
    <div class="level"><p class="txt">Level {{ gc.randomLevel }}</p></div>

</div>