<div class="elements" set-size w="ngModel.getWidthPixels()" h="ngModel.getWidthPixels()">
    <!-- Visible elements -->
    <div ng-repeat="e in ngModel.grid">
        <elem class="element" ng-model="ngModel" content="e" />
    </div>
    
    <!-- Control grid -->
    <div class="selectedElements" set-size w="ngModel.getWidthPixels()" h="ngModel.getWidthPixels()">
        <div ng-repeat="e in ngModel.grid">
            <div class="selectedElement" ng-click="ngModel.rotate()" ng-mouseover="ngModel.toggleFocus($index)" ng-mouseout="ngModel.toggleFocus($index)" set-size w="ngModel.elementSize" h="ngModel.elementSize" />
        </div>
    </div>
</div>