.main {
  position: relative;
  width: 100%;
}

.main p {
  line-height: 100%;
  font-family: courier;
  text-align: center;
  font-size: 16px;
}

.main h1 {
  line-height: 100%;
  font-family: courier;
  text-align: center;
  letter-spacing: 10px;
  font-size: 16px;
}

.elements {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.element {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  -webkit-transition-duration: 0.0s; /* Safari */
  transition-duration: 0.0s;
  color: white;
  overflow: hidden;
  background-color: black;
}

.selectedElements {
  position: absolute;
  z-index: 2;
}

.selectedElement {
  position: relative;
  float: left;
  opacity: 0;
}

.legend {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 3; 
}

.legend .level {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: auto;
  font-size: 32px;
  font-size: 68px;
  font-family: courier;
  z-index: 3; 
}

.legend .instructions {
  position: relative;
  display: block;
  width: auto;
  z-index: 3; 
}
